@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --primary-color: #0e0e0e;
    --secondary-color: #f7f7f7;
}

html {
    font-family: "Inter", serif;
    font-weight: 500;
}

body {
    background-color: var(--primary-color);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

header {
    display: flex;
    background-color: var(--primary-color);
    gap: 4em;
    align-items: center;
    padding: 1em 4em;
}

.header-logo {
    width: 8rem;
    cursor: pointer;
}

.header-navbar {
    display: flex;
    gap: 2em;
}
.header-navbar a, li, .profile-related a{
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-color);
}
a:hover {
    opacity: 0.85;
}

.profile-related {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1.4em;
}
.profile-related img {
    cursor: pointer;
}
.profile {
    display: flex;
    position: relative;
}
.profile .profile-image {
    width: 2.8em;
    border-radius: 0.35em;
}

.profile-related .notification-icon {
    width: 2em;
    filter: invert(1);
}

.profile-related .search-icon {
    width: 2.5em;
    filter: invert(1);
}

.profile button{
    width: 2em;
    border: none;
    background-color: transparent;
    filter: invert(1);
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 18rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.5em 1em;
    gap: 1em;
    visibility: hidden;
    transform: translateY(16em) translateX(-3.5em);
}

.dropdown a {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1.3em;
    cursor: pointer;
}

.dropdown-profile img {
    width: 3em;
    border-radius: 0.5em;
}
.dropdown-icon {
    width: 2.5em;
    filter: invert(1);
}
.dropdown-profile {
    display: flex;
    align-items: center;
    gap: 0.8em;
}
.dropdown-sign-out {
    display: flex;
    border-top: 1px solid var(--secondary-color);
    padding-top: 1.2em;
    width: 100%;
    justify-content: center;
}

.show {
    visibility: visible;
    opacity: 1;
}



